// Mixins
@mixin mobile {
  // Media Query
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

// SASS Variables
$darkColor: #2f2d52;

.chats,
.messages {
  &::-webkit-scrollbar {
    width: 0.5vw;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 5px;
    &:hover {
      background-color: #111;
    }
  }
  &::-webkit-scrollbar-track {
    background-color: rgba(90, 86, 86, 0.078);
  }
}
// .messages {
//   &::-webkit-scrollbar {
//     display: none;
//   }
// }
.formContainer {
  background-color: #a7bcff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .formWrapper {
    background-color: #fff;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    .logo {
      color: #5d5b8d;
      font-weight: bold;
      font-size: 24px;
    }
    .title {
      color: #5d5b8d;
      font-size: 12px;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      input {
        padding: 15px;
        border: none;
        border-bottom: 1px solid #a7bcff;
        width: 250px;
        &::placeholder {
          color: #afafaf;
        }
      }
      label {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #8da4f1;
        font-size: 12px;
        cursor: pointer;
        img {
          width: 32px;
        }
      }
      button {
        background-color: #7b96ec;
        color: #fff;
        padding: 10px;
        font-weight: bold;
        border: none;
        cursor: pointer;
        &:disabled {
          background-color: #9bade6;
        }
      }
      .statusMessage {
        text-align: center;
        span {
          color: #5d5b8d;
          font-size: 12px;
          margin-top: 10px;
        }
        .error {
          color: #ad422c;
        }
      }
    }
    p {
      color: #5d5b8d;
      font-size: 12px;
      margin-top: 10px;
    }
  }
}
.home {
  background-color: #a7bcff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    border: 1px solid #fff;
    border-radius: 10px;
    width: 90%;
    height: 90%;
    display: flex;
    overflow: hidden;

    @include tablet {
      width: 90%;
    }

    .sidebar {
      flex: 1;
      background-color: #3e3c61;
      position: relative;

      .navbar {
        display: flex;
        align-items: center;
        background-color: $darkColor;
        height: 50px;
        padding: 10px;
        justify-content: space-between;
        color: #ddddf7;

        .logo {
          font-weight: bold;
          @include tablet {
            display: none;
          }
        }
        .user {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            background-color: #ddddf7;
            height: 24px;
            width: 24px;
            border-radius: 50%;
            object-fit: cover;
          }
          button {
            background-color: #5d5b8d;
            color: #ddddf7;
            font-size: 12px;
            border: none;
            padding: 4px 6px;
            border-radius: 2px;
            cursor: pointer;

            &:active {
              background-color: #3e3c61;
            }

            @include tablet {
              position: absolute;
              bottom: 10px;
            }
          }
        }
      }
      .search {
        border-bottom: 1px solid gray;

        .searchForm {
          height: 30px;
          padding: 5px;
          input {
            background-color: transparent;
            height: 100%;
            width: 100%;
            border: none;
            color: #fff;
            outline: none;

            &::placeholder {
              color: lightgray;
            }
          }
        }
      }
      .chats {
        overflow-y: scroll;
        height: calc(100% - 111px);
        border-right: 1px solid #3e3c61;

        @include tablet {
          height: calc(100% - 150px);
          border-bottom: 1px solid gray;
        }
      }
      .userChat {
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        color: #fff;
        cursor: pointer;

        &:hover,
        &.selectedChat {
          background-color: #2f2d52;
        }

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }

        .userChatInfo {
          span {
            font-size: 18px;
            font-weight: 500;
          }
          p {
            font-size: 14px;
            color: lightgray;
          }
        }
      }
    }
    .chat {
      flex: 2;

      .chatInfo {
        padding: 10px;
        color: #fff;
        height: 50px;
        background-color: #5d5b8d;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .chatUserInfo {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 20px;
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }
          .userInfo {
            display: flex;
            flex-direction: column;
            .email {
              font-size: 12px;
              color: #e4e4e4;
            }
          }
        }
        .chatIcons {
          display: flex;
          gap: 10px;
          img {
            height: 24px;
          }
        }
      }

      .messages {
        padding: 10px;
        background-color: #ddddf7;
        height: calc(100% - 160px);
        overflow-y: scroll;

        .message {
          // border: 1px solid red;
          display: flex;
          flex-direction: column;
          gap: 4px;
          margin-bottom: 20px;

          .messageInfo {
            display: flex;
            flex-direction: column;
            color: gray;
            font-weight: 300;
            font-size: 11px;
            margin: 0px 10px;
            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
            }
          }
          .messageContent {
            max-width: 80%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            p {
              background-color: #fff;
              padding: 10px 20px;
              border-radius: 0px 10px 10px 10px;
              max-width: max-content;
            }
            img {
              width: 50%;
              background-color: #fff;
              padding: 10px;
              border-radius: 0px 10px 10px 10px;
            }
          }
          &.ownMessage {
            align-items: flex-end;
            .messageContent {
              align-items: flex-end;
              p,
              img {
                background-color: #8da4f1;
                color: #fff;
                border-radius: 10px 0px 10px 10px;
              }
            }
          }
        }
      }

      .input {
        padding: 10px;
        height: 50px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
          border: none;
          outline: none;
          width: 100%;
          height: 100%;
          color: #2f2d52;
          font-size: 18px;

          &::placeholder {
            color: lightgray;
          }
        }

        .send {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            height: 24px;
            cursor: pointer;
            &:active {
              background-color: #eaeaf4;
            }
          }

          button {
            border: none;
            padding: 10px 15px;
            color: #fff;
            background-color: #8da4f1;
            cursor: pointer;
            &:active {
              background-color: #5d5b8d;
            }
            &:disabled {
              // background-color: #9bade6;
              background-color: #afafaf;
              cursor: default;
            }
          }
        }
      }
    }
  }
}
